@import "../wp-blocks/index.css";

.page-title {
  margin-bottom: 0;
}

.post-date {
  margin-bottom: 1.5rem;
}

.page-content {
  max-width: 60.5rem;

  p {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 0;
  }
}
