.page-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;

  .main-navigation--list {
    gap: 1rem;
  }

  .page-header-logo {
    align-items: center;
    display: flex;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    font-family: var(--theme-font-sans);
  }
}
