---
import Layout from '@layouts/Layout.astro';
import River from '@components/content/River.astro';

import '@styles/views/blog.css';
---

<Layout title="Blog">
	<section class="page-content">
		<h1 class="page-title">Things I've Written</h1>
		<River />
	</section>
</Layout>
