@font-face {
  font-family: "EB_Garamond";
  src: url("/fonts/EBGaramond-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "EB_Garamond";
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/TenorSans-Regular.ttf") format("truetype");
}
