.page-title {
  margin-left: auto;
  margin-right: auto;
}

.page-content {
  flex-direction: column;
  max-width: 48rem;

  p {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 0;
  }
}

.wp-block-heading {
  margin-bottom: 1rem;
  margin-top: 0;
}

.wp-block-image {
  margin: 0 0 1rem 0;
  width: 100%;

  @media screen and (min-width: 54rem) {
    margin-left: -3rem;
    width: 54rem;
  }

  img {
    height: auto;
    width: 100%;
  }
}
