@font-face {
  font-family: "EB_Garamond";
  src: url("/fonts/EBGaramond-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "EB_Garamond";
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/TenorSans-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #f9f9f9;
  color: #171717;
  font-family: "EB_Garamond", serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tenor Sans", sans-serif;
}

a {
  color: #171717;

  &:visited {
    color: inherit;
  }

  &:hover,
  &:focus {
    color: rgb(6 95 70);
  }
}

.page-content {
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
}
