@import "./partials/fonts.css";
@import "./partials/accessibility.css";
@import "./partials/baseline.css";
@import "./partials/variables.css";

.page-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
}

.page-title {
  font-size: 2rem;
}
