---
const { page } = Astro.params;
const { pagecount } = Astro.props;

const nextPage = page ? parseInt(page) + 1 : 2;
const prevPage = page ? parseInt(page) - 1 : 0;

const prevLink = prevPage > 1 ? `/blog/page/${prevPage}` : '/blog/';
---

<section class="blog-pagination">
	{prevPage >= 1 && (
		<a href={`${prevLink}`} class="blog-pagination-previous">
			<span class="arrow" aria-hidden="true">&larr;</span> Previous Page
		</a>
	)}
	{pagecount >= nextPage && (
		<a href={`/blog/page/${nextPage}`} class="blog-pagination-next">
			Next Page <span class="arrow" aria-hidden="true">&rarr;</span>
		</a>
	)}
</section>

<style>
.blog-pagination {
	display: flex;
	justify-content: space-between;
}

.blog-pagination-next:first-child:last-child {
	margin-left: auto;
}

.blog-pagination-previous,
.blog-pagination-next {
	position: relative;
	text-decoration: none;

	.arrow {
		position: absolute;
		opacity: 0;
		transition-duration: 150ms;
		transition-timing-function: ease-out;
	}

	&:hover,
	&:focus {

		.arrow {
			opacity: 1;
		}
	}
}

.blog-pagination-previous {
	.arrow {
		left: 0;
		transition-property: left, opacity;
	}

	&:hover,
	&:focus {

		.arrow {
			left: -1.5rem;
		}
	}
}

.blog-pagination-next {
	.arrow {
		right: 0;
		transition-property: right, opacity;
	}

	&:hover,
	&:focus {

		.arrow {
			right: -1.5rem;
		}
	}
}
</style>
