---
const currentPath = Astro.url.pathname;
const paths = [
	{
		link: '/blog/',
		label: "Things I've Written"
	},
	{
		link: '/about-jeff-de-wit/',
		label: "About Me"
	},
	{
		link: '/things-ive-done/',
		label: "Stuff I've Done"
	}
];
---

<nav class="main-navigation" aria-label="Main Navigation">
	<ul class="main-navigation--list">
		{
		paths.map((path: { link: string; label: string; }) => {
			let linkClass = 'main-navigation--list-item';

			if ( currentPath.includes(path.link) ) {
				linkClass += ' active';
			}

			return (
			<li class={linkClass}>
				<a class="main-navigation--anchor" href={path.link}>
					{path.label}
				</a>
			</li>
			)
		})
		}
	</ul>
</nav>

<style>
	.main-navigation--list {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.main-navigation--list-item:not(.active) {
		.main-navigation--anchor {
			text-decoration: none;
		}
	}
</style>
