---
import Layout from '../layouts/Layout.astro';

import '../styles/global.css';

const res = await fetch("https://jeffreydewit.com/wp-json/wp/v2/posts?_fields=author,id,excerpt,title,slug");
const posts = await res.json();
---

<Layout title="Blog">
	<main id="container" class="page-container">
		<section class="page-content">
			<h1>Things I've Written</h1>
			{
				posts.map((post) => (
					<article>
						<h2>
							<a href={`/blog/${post.slug}/`} set:html={post.title.rendered} />
						</h2>
						<Fragment set:html={post.excerpt.rendered} />
					</article>
				))
			}
		</section>
	</main>
</Layout>
