---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';

import '@styles/global.css';
import '@styles/blog.css';

const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/posts?_fields=id,title,slug,date,excerpt`);
const posts = await res.json();
---

<Layout title="Blog">
	<main id="container" class="page-container">
		<Header></Header>
		<section class="page-content">
			<h1 class="page-title">Things I've Written</h1>
			{
				posts.map((post: { slug: string; title: { rendered: string; }; date: string | number | Date; excerpt: { rendered: string } }) => (
					<article class="blog-post">
						<a href={`/blog/${post.slug}/`} class="blog-post-link">
							<h2 class="blog-post-title" set:html={post.title.rendered} />
							<p class="blog-post-date" set:html={new Date(post.date).toLocaleDateString()} />
							<div class="blog-post-excerpt" set:html={post.excerpt.rendered} />
						</a>
					</article>
				))
			}
		</section>
	</main>
</Layout>
