---
import Layout from '@layouts/Layout.astro';
import MainNav from '@components/MainNav.astro';
import SocialNav from '@components/SocialNav.astro';

import '@styles/global.css';
import '@styles/home.css';
---

<Layout title="Jeffrey de Wit" header={false}>
	<section class="page-content">
		<h1 class="home-title">
			Jeffrey de Wit
		</h1>
		<p class="home-subtitle">
			Just a guy and some code.
		</p>
		<SocialNav />
		<MainNav />
	</section>
</Layout>
