<nav class="main-navigation" aria-label="Main Navigation">
    <ul class="main-navigation--list">
        <li class="main-navigation--list-item">
            <a class="main-navigation--anchor" href="https://jeffreydewit.com/things-ive-written/">
                Blog
            </a>
        </li>
        <li class="main-navigation--list-item">
            <a class="main-navigation--anchor" href="https://jeffreydewit.com/about-jeff-de-wit/">
                About Me
            </a>
        </li>
        <li class="main-navigation--list-item">
            <a class="main-navigation--anchor" href="https://jeffreydewit.com/things-ive-done/">
                Stuff I've Done
            </a>
        </li>
    </ul>
</nav>

<style>
    .main-navigation--list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .main-navigation--anchor {
        text-decoration: none;
    }
</style>
