---
import { ClientRouter } from 'astro:transitions';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

import '@styles/global.css';

const { title, header = true, footer = true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content={title} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		{header && (
			<Header />
		)}
		<main id="content" class="page-container">
			<slot />
		</main>
		{footer && (
			<Footer />
		)}
	</body>
</html>
